
.custom-icon {
  background-color: black;
  -webkit-mask-image: url('./assets/icons/oil-platform-gas-svgrepo-com.svg');
  mask-image: url('./assets/icons/oil-platform-gas-svgrepo-com.svg');
  width: 35px;
  height: 35px;
}
